<header>
  <nav class="navbar navbar-expand-lg navbar-light bg-light p-4">
    <div class="container">
      <a class="navbar-brand" href="/"><span>Naganocake</span></a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ml-auto">
          <% if customer_signed_in? %>
          <li><%= link_to ' マイページ',customer_path(current_customer),class: "btn btn-outline-dark r-3" %></li>
          <li><div class="ml-5"><%= link_to ' 商品一覧',items_path,class: "btn btn-outline-dark" %></div></li>
          <li><div class="ml-5"><%= link_to ' cart_items_path',books_path ,class: "btn btn-outline-dark" %></div></li>
          <li><div class="ml-5"><%= link_to ' ログアウト', destroy_customer_session_path, method: :delete,class: "btn btn-outline-dark" %></div></li>
        <% else %>
          <li><%= link_to ' About',about_path,class: "btn btn-outline-dark" %></li>
          <li><div class="ml-5"><%= link_to ' 商品一覧',items_path,class: "btn btn-outline-dark" %></div></li>
          <li><div class="ml-5"><%= link_to ' 新規登録', new_customer_registration_path,class: "btn btn-outline-dark" %></div></li>
          <li><div class="ml-5"><%= link_to ' ログイン', new_customer_session_path ,class: "btn btn-outline-dark" %></div></li>
        <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>