<h1>購入品確認</h1>


<div class="row">
  <div class="col-sm-9">
    <%= form_with model: @cart_item,  required: true , local: true  do |f| %>
    <% @cart_items.each do |cart_item| %>
      <div class="cartitem-area clearfix border-bottom border-dark p-3">
        <div class="cartitem-figure float-left" style="width:35%">
          <%= attachment_image_tag cart_item.item, :image, format: 'jpeg', fallback: "", class: "img-fluid" %>
        </div>
        <div class="cartitem-description float-right" style="width:60%">
          <h4 class="cartitem-name p-3">
            <%= cart_item.item.name %>
          </h4>
          <table class="table">
            <tr>
              <th>単価</th>
              <th>数量</th>
              <th>小計</th>
            </tr>
            <tr>
              <td><%= cart_item.item.price %></td>
              <td><%= cart_item.amount %></td>
              <td><%= cart_item.item.price * cart_item.amount %></td>
            </tr>
          </table>
        </div>
      </div>
    <% end %>
    <h4 class="rounded mt-3 mb-3 p-2" style="background-color:#ddd;">お届け先</h4>
    <p>お支払方法<%= session[:customer]["payment_method"] %></p>
    <p>〒<%= session[:customer]["postal_code"] %>
    　<%= session[:customer]["address"] %></p>
    <p>宛名:<%= session[:customer]["name"] %></p>
  </div>
  <div class="col-sm-3">
    <div class="border border-secondary rounded bg-light p-3 mt-5">
      <table class="w-100">
        <tr>
          <td>送料</td>
          <td class="text-right">500円</td>
        </tr>
        <tr>
          <td>商品合計</td>
          <td class="text-right"><%= @total %>円</td>
        </tr>
      </table>
      <div class="border-top mt-3 pt-2 mb-1">支払方法<p class="text-right"><%= @payment_method %></p></div>
      <div class="border-top mt-3 pt-2 mb-1">合計金額</div>
      <h4 class="content-justify-end border-bottom pb-2 mb-4 text-danger">¥<%= @total+500 %></h4>
      <%= link_to "購入確定", complete_order_path, class: "btn btn-primary mt-3" %>
    </div>
  </div>
</div>